<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <link rel="stylesheet" href="stylesheets/style.css" />
</head>

<body>
   <nav>
      <div class="annoucement-bar">free shipping + 30 day returns</div>
      <div class="container">
         <div class="nav-bar">
            <div class="left">
               <div class="menu">
                  <a href="/menu">menu</a>
               </div>
            </div>
            <div class="center">
               <div class="title">
                  <a href="/">1213bst</a>
               </div>
            </div>
            <div class="right">
               <div class="acct">
                  <a href="/account">account</a>
               </div>
               <div class="cart">
                  <a href="/cart">cart: {{ session.cart.totalQty }}</a>
               </div>
            </div>
         </div>
      </div>
   </nav>
   <div class="container">
      {{{body}}}
   </div>


   <script src="js/script.js"></script>
</body>

</html>