<h1>order confirmation</h1>

{{!-- orderStatus:
paymentStatus
customer:
items: [array]
totalQty:
subtotalPrice:
discount:
totalPrice:
tradeCredit:
finalPrice:
shippingOption:
shippingPrice:
paymentOption: --}}