<div class="progress">
    <img src="progress3.png" alt="shipping">
</div>
<form action="/order-create" method="POST">
    <button class="button size-4 flat black shadow checkout-button" type="submit">place order</button>
    <div class="block-container">
        <div class="block labeled">
            <div class="shipping-address">
                {{!-- <div class="cta-title-2">shipping address</div> --}}
                <div class="fields">

                </div>
            </div>
        </div>
        {{!-- <button class="button size-4 flat black shadow checkout-button" type="submit">place order</button> --}}
    </div>
</form>