html,
body {
  font-size: 16px;
  margin: 0px;
  font-family: arial;
}

/* text */

.small-text {
  font-size: 0.75rem;
}

.x-small-text {
  font-size: 0.5rem;
}

.bold {
  font-weight: bold;
}

.cta-title {
  text-align: center;
  font-size: 2rem;
  line-height: 4rem;
}

.cta-title-2 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 3rem;
}

.terms {
  font-size: 0.75rem;
  line-height: 1rem;
}

.error-message {
  font-size: 12px;
  /* text-align: center; */
  color: red;
  margin-top: 5px;
}

/* links */
a {
  /* color: blue; */
  color: black;
  text-decoration: none;
}

/* form */

form {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
}

textarea:focus,
input:focus {
  outline: none;
}

.labeled input {
  padding-top: 0px !important;
}

label {
  font-size: 0.75rem;
}

.input-label {
  /* font-size: 0.75rem; */
  padding-top: 8px;
  padding-bottom: 3px;
  font-weight: bold;
}

/* button */
.button {
  width: fit-content;
  font-family: 'Arial';
  font-weight: 400;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  border: 0px;
  outline: none;
  white-space: nowrap;
}

form button {
  margin-top: 16px;
  margin-bottom: 8px;
}

.add-to-cart-button {
  width: fit-content;
  font-family: 'Arial';
  font-weight: 400;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  border: 0px;
  outline: none;
  white-space: nowrap;
  margin: 16px 0;
}

.link-button {
  text-align: center;
  width: fit-content;
  font-family: 'Arial';
  font-weight: 400;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  border: 0px;
  outline: none;
  white-space: nowrap;
  margin: 16px 0;
}

.white {
  color: black;
  background-color: white;
}
.black {
  color: white;
  background-color: black;
}
.yellow {
  color: black;
  background-color: #f6ff66;
}
.blue {
  color: white;
  background-color: #3b5999;
}
.gray {
  color: white;
  background-color: #a1a1a1;
}
.size-1 {
  height: 27px;
  border-radius: 25px;
  font-size: 12px;
  line-height: 27px;
}
.size-2 {
  height: 27px;
  border-radius: 67px;
  font-size: 15px;
  line-height: 27px;
  font-weight: lighter;
}
.size-3 {
  height: 31px;
  border-radius: 67px;
  font-size: 12px;
  line-height: 31px;
}
.size-4 {
  height: 37px;
  border-radius: 19px;
  font-size: 16px;
  line-height: 37px;
}
.size-5 {
  height: 44px;
  border-radius: 67px;
  font-size: 16px;
  line-height: 44px;
}
.size-6 {
  height: 54px;
  border-radius: 67px;
  font-size: 22px;
  line-height: 54px;
}
.size-7 {
  height: 70px;
  border-radius: 34px;
  font-size: 24px;
  line-height: 70px;
}
.border {
  border: 1px solid black;
}
.shadow {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.bold-font {
  font-weight: bold;
}
.flat {
  width: 100%;
}
:disabled {
  background-color: rgb(201, 201, 201);
  filter: none;
}

/* container */

.container {
  /* margin: 10px 10px; */
  margin: 10px 10px 30px 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* blocks */
.block-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  max-width: 75%;
  padding-bottom: 1.5rem;
}
.block input {
  border: none;
  border-bottom: 1.5px solid black;
  font-size: 1.125rem;
  padding: 8px 0px 5px 0px;
}

/* components */
.annoucement-bar {
  background: black;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 5px 0px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 1vh;
  width: 100%;
}

.title {
  font-size: 2.25rem;
  font-family: times;
  font-style: italic;
}

.nav-bar {
  font-size: 0.75rem;
}

.right,
.left {
  min-width: 30vw;
  justify-content: flex-end;
}

.nav-bar .right {
  display: flex;
}

.acct {
  margin-right: 7px;
}

/* product feed */
.feed-product {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 5vh;
  max-width: 90%;
}

.feed-description {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.feed-product p {
  margin: 3px;
}

p.feed-brand {
  font-family: time;
}

p.feed-title {
  font-size: 11px;
}

img.feed-image {
  width: 100%;
}

/* product page */
.product-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.product-image {
  max-width: 90%;
}

.product-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 90%;
  padding-top: 2vh;
}

.product-brand {
  font-family: times;
  font-style: italic;
  font-size: 1.5rem;
}

.product-price {
  margin-top: 0.75rem;
}

.product-description {
  hyphens: auto;
  text-align: justify;
  padding-bottom: 1rem;
}

/* account */

.or {
  text-align: center;
  font-family: times;
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.forgot-password {
  padding-top: 1rem;
  font-size: 0.75rem;
  text-decoration: underline;
}

/* cart */
.cart-table {
  width: 100%;
  padding: 2vh 0;
}

.cart-row > div {
  font-size: 0.75rem;
  font-family: arial;
  font-style: normal;
}

.cart-row {
  display: flex;
  flex-direction: row;
  padding-bottom: 1vh;
  border-bottom: 0.5px solid black;
  margin-bottom: 1vh;
}

.title {
  /* use 40% if subtract is included */
  width: 50%;
  padding-right: 1px;
}

.price {
  width: 20%;
}

.qty {
  width: 10%;
}

.remove {
  /* use 30% if subtract is included */
  /* width: 30%;   */
  width: 20%;
  text-align: right;
}

/* checkout - guest/registered */
.register > .small-text {
  text-align: center;
  padding-bottom: 1.25rem;
}

.paypal {
  color: #003087;
  line-height: normal !important;
}

.paypal .text,
.paypal .img {
  display: inline;
}

.paypal .text {
  vertical-align: text-bottom;
}

.paypal .img {
  vertical-align: middle;
}

div {
  padding-top: 4px;
}

/* checkout - address */
.progress {
  width: 216px;
}

.progress img {
  width: 100%;
}

.fields {
  display: flex;
  flex-direction: column;
}

.checkout-button {
  width: 75%;
}

/* checkout payment */
p.total-row {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  width: 100%;
}

.total {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.choose-payment {
  padding-top: 1.5rem;
}

.payment-method img {
  width: 100%;
}

.payment-information .fields {
  align-items: center;
}
